@mixin translateY($e){
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover{
      text-decoration: none;
      @include transition(.4s ease-in-out);
  }

  &:link{
      text-decoration: none;
  }
}

li {
  color: #c2c2c2;
}

p {
  color: #c2c2c2;
  display: inline;
}

p.routeTitles{
  display: inline;
  font-weight: bold;
}

p.routeResponseBlack{
  display: inline;
  font-weight: bold;
}

p.routeResponseGreen{
  display: inline;
  font-weight: bold;
  color: rgba($color: #00bd39, $alpha: 1.0)
}

p.routeNoBold{
  display: inline;
}

.routeDot {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  display: inline;
  float: left;
  font-size: 1pt;
}

.arrow {
  color: #00bd39;
  font-weight: bold;
  font-size: 30px;
}

body {
    background: #292929;
    color: #333333;
    margin-top: 5rem;
  }

  .AutoCompleteText {
    border:  1px solid grey;
    box-shadow: 0 0 0 1px rgba(37, 37, 37, 0.1), 0 2px 4px 1px rgba(0,0,0,.18);
  }

  .AutoCompleteText ul {
     list-style-type: none;
     text-align: left;
     margin: 0;
     padding: 0;
     border-top: 1px solid grey;
  }

  .AutoCompleteText ul::before {
    content:"";
  }

  .AutoCompleteText li {
    padding: 10px 5px;
    cursor: pointer;
  }

  .AutoCompleteText li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.20);
  }

  .AutoCompleteText input {
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #c2c2c2;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #474747;
    padding: 10px 20px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }